OPENAI_API_KEY=
OPENAI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
SPRING_AI_OPENAI_CHAT_OPTIONS_MODEL=qwen3.5-397b-a17b
SPRING_AI_OPENAI_EMBEDDING_OPTIONS_MODEL=text-embedding-v3
VECTOR_DIMENSION=1024
MILVUS_COLLECTION=knowledge_chunks_qwen1024
SPRING_KAFKA_LISTENER_AUTO_STARTUP=false
EXTRACT_MAX_CONCURRENCY=1
